.v .vlist .vcard .vhead .vsys { 
  display: none !important;
}

div.framework-info {
  display: none !important;
}

body {
  font-family: "EB Garamond", "Georgia", "Noto Serif SC", "STZhongsong";
  font-size: 0.875rem;
}

#site-title, #site-sub-title, #site-name {
  font-family: "Fondamento";
}

a {
  color: #0477ab;
  text-decoration: none;
}

#page-header .site-page, .post-meta__tags {
  font-size: 0.8rem;
}
