div.framework-info, #sidebar, #toggle-sidebar {
  display: none;
}

body {
  font-family: "EB Garamond", "Georgia", "Noto Serif SC", "STZhongsong", "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 0.875rem;
}

#site-title, #site-sub-title, #site-name {
  font-family: "Fondamento", "PingFang SC", "Microsoft YaHei", sans-serif;
}

a {
  color: #0477ab;
  text-decoration: none;
}

#page-header .site-page {
  font-size: 0.8rem;
}
