btn-shadow() {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  the-transition-ease-out();

  &:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
    background: $btn-default-hover-bg !important;
  }
}

btn-shadow-only() {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

selection-color() {
  background: rgba(0, 149, 255, 0.2);
  color: var(--blockquote-color);
}

myradius() {
  border-radius: $myradius;
}