.bio a {
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #81b29a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.bio a:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: 40%;
  background-color: #81b29a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.bio a:hover {
  color: #000;
}

.bio a:hover:after {
  height: 100%;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

body {
  font-family: 'Lato','Noto Serif SC',ui-sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

h1 {
  font-family: ui-sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.highlight {
  box-shadow: inset 0 -0.5em 0 rgba(243, 238, 102, 0.8);
}

figure {
  border: 2px #b3a18f solid;
}

.bio a:hover:after {
  height: 100%;
  transform: translateY(-4px)
}

@media (prefers-color-scheme: dark) {
  .bio a:hover {
      color:#fff;
  }

  img {
    opacity: .75;
  }

  img:hover {
      opacity: .9;
  }
 
  .highlight {
    box-shadow: none;
  }

  .dark\:bg-dark-300 {
      --tw-bg-opacity: 1;
      background-color:#15202b
  }

  .dark\:text-white {
      --tw-text-opacity: 1;
      color:rgba(255, 255, 255, var(--tw-text-opacity))
  }

  .dark\:text-gray-300 {
      --tw-text-opacity: 1;
      color:rgba(209, 213, 219, var(--tw-text-opacity))
  }

  .dark\:text-gray-500 {
      --tw-text-opacity: 1;
      color:rgba(107, 114, 128, var(--tw-text-opacity))
  }
}