name: Homepage@lei2rock

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.15.2'

    - name: Yarn install cache
      uses: c-hive/gha-yarn-cache@v1

    - name: Install dependencies
      run: |
        node -v
        yarn global add hexo-cli
        echo "$(yarn global bin)" >> $GITHUB_PATH
        yarn install

    - name: Generate Hexo site
      run: |
        hexo generate
        cp -r source/favicon.ico public/favicon.ico

    - name: Deploy to server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
        ARGS: "-avz --delete"
        SOURCE: "public/"
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
        REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        TARGET: ${{ secrets.REMOTE_TARGET }}

    - name: Telegram notification
      if: cancelled() == false
      uses: xinthink/action-telegram@v1.1
      with:
        botToken: ${{ secrets.TG_BOT_TOKEN }} #use bot @BotFather
        chatId: ${{ secrets.TG_CHAT_ID }} #use bot @userinfobot
        jobStatus: ${{ job.status }}
        skipSuccess: false